* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
/* navbar */
.bg-steel {
    background-color: #08436d;
}
.site-header .container .navbar-brand {
    margin-left: 12%;
    margin-right: 3%;
}
.site-header .container .navbar-brand img {
    height: 25px;
    width: 25px;
}
.site-header .container .navbar-nav a {
    margin-right: 7px;
    color: #ddd;
}
.site-header .container .navbar-nav .nav-link:hover {
    color: #ffffff;
}
.site-header .container .navbar-nav .nav-link.active {
    font-weight: 500;
}
.site-header .container .account-links {
    margin-left: 37%;
}

/* body */
.body-container {
    margin-top: 6%;
}
.body-container .card {
    margin-bottom: 15px;
}
.body-container .card .content-section {
    padding: 5px;
}
.body-container .card .content-section img {
    height: 70px;
    width: 70px;
    margin-right: 3.5%;
    margin-top: 5.5%;
}
.body-container .card .content-section .article-metadata a {
    margin-right: 1%;
    text-decoration: none;
    color: #0a75c2;
}
.body-container .card .content-section .article-title {
    text-decoration: none;
    font-weight: 600;
    color: #797575;
}
.body-container .card .content-section .delete-icon {
	position: absolute;
	right: 0px;
	top: 15px;
}
.body-container .card .content-section .icon {
	color: #21252c;
	padding-right: 20px;
	padding-bottom: 5px;
	transition: 0.3s;
	font-size: 16px;
    text-decoration: none;
}
.body-container .card .content-section .comments-section {
    margin-left: 18%;
}
.body-container .card .content-section .comments-section img {
    height: 25px;
    width: 25px;

}
.body-container .post-comment-container {
	margin-left: 15px;
	margin-bottom: 0;
}
.body-container .post-comment-container a {
	font-size: 25px;
	margin-right: 1%;
	margin-top: -3%;
	color: black;
}
.body-container .post-comment-container input[type="text"] {
	width: 400px;
	margin-left: 2%;
}


/* profile page */
.content-section .media img {
    height: 120px;
    width: 120px;
    margin-right: 3.5%;
}
.content-section fieldset .row {
	margin-bottom: 20px;
	font-size: 15px;
}
.content-section fieldset .label {
	font-weight: 600;
	color: rgba(1, 41, 112, 0.6);
}


/* mobile responsive */
@media (max-width:320px) {
    .body-container {
        margin-top: 22%;
    }
    .content-section .media img {
        height: 80px;
        width: 80px;
        margin-right: 3.5%;
    }
    .site-header .container .navbar-brand {
        margin-left: 10%;
        margin-right: 3%;
    }
    .site-header .container .navbar-nav a {
        margin-left: 10%;
        margin-right: 5px;
        color: #ddd;
    }
    .site-header .container .account-links {
        margin-left: 0;
    }

    .body-container .post-comment-container {
        margin-left: 2px;
        margin-bottom: 0;
    }
    .body-container .post-comment-container a {
        /* visibility: hidden; */
        font-size: 15px;
        margin-right: 1%;
        margin-top: -3%;
        margin-left: -3%;
        color: black;
    }
    .body-container .post-comment-container input[type="text"] {
        width: 200px;
    }


}