{% extends 'users/base.html' %}{% block title %}{{request.user.profile}}'s profile{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="container body-container">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <div class="content-section">
                    <div class="media mb-3 d-flex align-items-center justify-content-center">
                        <img src="{{request.user.profile.dp.url}}" alt="profile-img" class="rounded-circle profile-pic">
                        <div class="media-body">
                            <h2 class="username">{{ request.user.profile }}</h2>
                            <p class="text-secondary">{{ request.user.email }}</p>
                        </div>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data" class="card card-body">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info.</legend>
                            {% if request.user.profile.gender == "" and request.user.profile.phone_no == "" and request.user.profile.country == "" %}
                            {{update_profile|crispy}}
                            {% else %}
                            {{edit_profile|crispy}}
                            {% endif %}
                        </fieldset>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-outline-primary">Edit profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>